<div class="navigation">
  <a href="https://jquery.com/"><div id="logo"><img id="jQuery-logo" src="images/jquery-logo-vector-download.jpg" alt="jQuery-logo"></div></a>
<div class="index">
  <div><a href="./index.html"><p class="section <%= 'active' if current_page.data.title=="jQuery Overview" %>">Overview</p></a>
      <!-- <a href="./index.html#intro"><p>What is jQuery</p></a>
      <a href="./index.html#reason"><p>Why use jQuery</p></a> -->
  </div>
  <div><a href="./selectors.html"><p class="section <%= 'active' if current_page.data.title=="jQuery Selectors" %>">jQuery Selectors</p></a>
      <a href="./selectors.html#basic"><p>Basic Selectors</p></a>
      <a href="./selectors.html#attribute"><p>Attribute Selectors</p></a>
      <a href="./selectors.html#child"><p>Child Selectors</p></a>
      <a href="./selectors.html#content"><p>Content Selectors</p></a>
      <a href="./selectors.html#form"><p>Form Selectors</p></a>
      <a href="./selectors.html#hierarchy"><p>Hierarchy</p></a>
      <a href="./selectors.html#visibility"><p>Visibility Selectors</p></a>
      <a href="./selector_reference.html"><p>Selectors Reference</p></a>
  </div>

  <div><a href="./traversal.html"><p class="section <%= 'active' if current_page.data.title=="jQuery Traversing" %>">jQuery Traversing</p></a>
      <a href="./traversal.html#ancestors"><p>Ancestors</p></a>
      <a href="./traversal.html#descendants"><p>Descendants</p></a>
      <a href="./traversal.html#siblings"><p>Siblings</p></a>
      <a href="./traversal.html#filtering"><p>Filtering</p></a>
      <a href="./traversal.html#iteration"><p>Iteration</p></a>
      <a href="./traversal_reference.html"><p>Traversing Reference</p></a>
  </div>
  <div><a href="./manipulation.html"><p class="section <%= 'active' if current_page.data.title=="jQuery Manipulation" %>">HTML/CSS Manipulation</p></a>
      <a href="./manipulation.html#HTML_M"><p>HTML</p></a>
      <a href="./manipulation.html#CSS_M"><p>CSS</p></a>
  </div>
  <div><a href="./Event-and-Animation.html"><p class="section <%= 'active' if current_page.data.title=="jQuery Event and Animation" %>">Event and Animation</p></a>
      <a href="./Event-and-Animation.html#event"><p>Event</p></a>
      <a href="./Event-and-Animation.html#animation"><p>Animation</p></a>
      <a href="./Event-and-Animation.html#effect"><p>Effect</p></a>
</div>
  <div><a href="./ajax.html"><p class="section <%= 'active' if current_page.data.title=="jQuery AJAX" %>">AJAX</p></a>
</div>
  <div><a href="./plugin.html"><p class="section <%= 'active' if current_page.data.title=="jQuery Plugins" %>">Plugins</p></a>
  </div>
</div>
</div>
