---
title: jQuery Selectors Reference
---
<h1>jQuery Selectors Reference</h1>
<div>
  <h2 id="basic">Basic Selectors</h2>
  <table id="basic-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.basic_selectors.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2 id="attribute">Attribute Selectors</h2>
  <table id="attribute-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.attribute_selectors.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2 id="child">Child Selectors</h2>
  <table id="child-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.child_selectors.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2 id="content">Content Selectors</h2>
  <table id="content-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.content_selectors.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2 id="form">Form Selectors</h2>
  <table id="form-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.form_selectors.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2 id="hierarchy">Hierarchy</h2>
  <table id="hierarchy-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.hierarchy.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2 id="visibility">Visibility Selectors</h2>
  <table id="visibility-selectors" class="display">
    <thead>
      <tr>
        <th>Selector</th>
        <th>Description</th>
        <th>Example</th>
        <th>Selects</th>
      </tr>
    </thead>
    <tbody>
      <% data.visibility_selectors.each do |selector| %>
        <tr>
          <td><%= selector["selector"] %></td>
          <td><%= selector["description"] %></td>
          <td><%= selector["example"] %></td>
          <td><%= selector["selects"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
