# Plugins
jQuery also provides capabilities for developers to create plug-ins on top of the JavaScript library. This adds on the flexibility and functionality of jQuery library. You can find a list of popular plugins from https://plugins.jquery.com/. But there're more than that!

## How to use the jQuery Plugins?
For jQuery Plugins, you need to include both plugin library and jQuery library in html file.
Let's take [DataTable](https://datatables.net/) plugin as an example.

  1. Include jQuery library, dataTable css and dataTable javascript library.
  2. Select the table id and add DataTable style by adding ```$('#dorm-table').DataTable();``` to js file
  3. You have your table with search, sorting, styling features!

<div class="row">
  <div id="datatables">
    <div>
      <h2>OSU Dorms</h2>
      <table id="dorm-classic">
        <thead>
          <tr>
            <th>Name</th>
            <th>Campus</th>
            <th>Area</th>
            <th>Hall Director</th>
            <th>Learning Community</th>
          </tr>
        </thead>
        <tbody>
          <% data.dorm.each do |dorm| %>
            <tr>
              <td><%= dorm["name"] %></td>
              <td><%= dorm["campus"] %></td>
              <td><%= dorm["area"] %></td>
              <td><%= dorm["hall_director"] %></td>
              <td><%= dorm["learning_community"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <div>
    <h2>OSU Dorms</h2>
    <table id="dorm-datatable" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Campus</th>
          <th>Area</th>
          <th>Hall Director</th>
          <th>Learning Community</th>
        </tr>
      </thead>
      <tbody>
        <% data.dorm.each do |dorm| %>
          <tr>
            <td><%= dorm["name"] %></td>
            <td><%= dorm["campus"] %></td>
            <td><%= dorm["area"] %></td>
            <td><%= dorm["hall_director"] %></td>
            <td><%= dorm["learning_community"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

      ```erb
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>Plugin Example</title>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
          <script type="text/javascript" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        </head>
        <body>
          <div>
            <h2>OSU Dorms</h2>
            <table id="dorm-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Campus</th>
                  <th>Area</th>
                  <th>Hall Director</th>
                  <th>Learning Community</th>
                </tr>
              </thead>
              <tbody>
                <% data.dorm.each do |dorm| %>
                  <tr>
                    <td><%= dorm["name"] %></td>
                    <td><%= dorm["campus"] %></td>
                    <td><%= dorm["area"] %></td>
                    <td><%= dorm["hall_director"] %></td>
                    <td><%= dorm["learning_community"] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <scripts>
          $(document).ready( function () {
              $('#dorm-table').DataTable();
          } );
        <scripts>
        </body>
      </html>
      ```
